{% extends 'shop/base.html' %}
{% load static %}

{% block title %}
Categories
{% endblock %}

{% block content %}
<h1>Categories</h1>
<div class="row">
{% for category in categories %}
<div class="col-sm-2">
    <div class="card" style="width: 15em">
        <a href="{{ category.get_absolute_url }}">
        {% if category.image %}
        <img src="{{ category.image.url }}" width="200px" height="200px" class="card-img-top" alt="...">
        {% else %}
        <img src="{% static 'img/no_image.png' %}" width="200px" height="200px" class="card-img-top" alt="...">
        {% endif %}
        </a>
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">{{ category.description }}</p>
            <a href="{{ category.get_absolute_url }}" class="btn btn-primary">{{ category.name }}</a>
        </div>
    </div>
</div>
{% empty %}
<p>No categories yet.</p>
{% endfor %}
</div>
{% endblock %}