{% extends 'shop/base.html' %}
{% load static %}

{% block title %}Search{% endblock %}

{% block content %}
{% if query %}
{% if results_category %}
<h1>Categories by searching for: "{{ query }}"</h1>
<h3>
    {% with results_category.count as count %}
    Found {{ count }} result{{ count|pluralize }}
    {% endwith %}
</h3>
<div class="row">
{% for category in results_category %}
<div class="col-sm-2">
    <div class="card" style="width: 15em">
        <a href="{{ category.get_absolute_url }}">
            {% if category.image %}
            <img src="{{ category.image.url }}" width="200px" height="200px" class="card-img-top" alt="...">
            {% else %}
            <img src="{% static 'img/no_image.png' %}" width="200px" height="200px" class="card-img-top" alt="...">
            {% endif %}
        </a>
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">{{ category.description }}</p>
            <a href="{{ category.get_absolute_url }}" class="btn btn-primary">{{ category.name }}</a>
        </div>
    </div>
</div>
{% endfor %}
</div>
{% endif %}
<h1>Products by searching for: "{{ query }}"</h1>
<h3>
    {% with results_product.count as count %}
    Found {{ count }} result{{ count|pluralize }}
    {% endwith %}
</h3>
<div class="row">
{% for p in results_product %}
<div class="col-sm-3">
    <div class="card" style="width: 18em">
        <a href="{{ p.get_absolute_url }}">
            <img src="{% if p.image %}{{ p.image.url }}
                        {% else %}{% static 'img/no_image.png' %}
                        {% endif %}" class="card-img-top">
        </a>
        <a href="{{ p.get_absolute_url }}"><h5 class="card-title"> {{ p.name }}</h5></a>
    </div>
</div>
{% empty %}
<h4>No products found.</h4>
{% endfor %}
</div>
{% else %}
<h1>Search</h1>
<form method="get">
    {{ form.as_p }}
    <input type="submit" value="Search">
</form>
{% endif %}

{% endblock %}